<!DOCTYPE html>
<html layout:decorate="~{layout}" xmlns:layout="http://www.w3.org/1999/xhtml">

<div layout:fragment="content" class="container my-3">
    <div class="my-3 mb-4 border-bottom">
        <div>
            <h4>로그인</h4>
        </div>
    </div>
    <form th:action="@{/user/login}" method="post">
        <div th:if="${param.error}">
            <div class="alert alert-danger d-flex align-items-center" role="alert">
                <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg>
                <div>사용자ID 또는 비밀번호를 확인해 주세요</div>
            </div>
            <!--
            <div class="alert alert-danger">사용자ID 또는 비밀번호를 확인해 주세요</div>
            -->
        </div>

        <div class="mb-3 mt-3">
            <!--<label for="username" class="form-label align-bottom">사용자ID</label>-->
            <input type="text" id="username" name="username" class="form-control" placeholder="사용자ID">
        </div>
        <div class="mb-3">
            <!--<label for="password" class="form-label">비밀번호</label>-->
            <input type="password" id="password" name="password" class="form-control" placeholder="비밀번호">
        </div>
        <button class="btn btn-primary active" type="submit">로 그 인</button>
        <!--
        <div class="d-grid gap-2">
            <button class="btn btn-primary active" type="submit">로 그 인</button>
        </div>
        -->

    </form>
</div>
</html>